<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285947231298-8po7drbrrt5e3uj9nh26b7o4pe60ju0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285947231298-8po7drbrrt5e3uj9nh26b7o4pe60ju0c</string>
	<key>API_KEY</key>
	<string>AIzaSyDevQdaRybTKRE9NPR7Qz_hEQ59q6ORR_A</string>
	<key>GCM_SENDER_ID</key>
	<string>285947231298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBoring.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>boring-f8138</string>
	<key>STORAGE_BUCKET</key>
	<string>boring-f8138.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285947231298:ios:14b8e0cf368a84ae0f81db</string>
	<key>DATABASE_URL</key>
	<string>https://boring-f8138-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>